
  <!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CS235FLIX</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

	<link
      rel="bookmark"
	  type="image/x-icon"
      href="movie_pic.jpeg"
    />

	<link
      rel="icon"
      href="movie_pic.jpeg"
    />
  </head>

  <body>
    <div>
      <form action='{{ url_for('browse_bp.search') }}' method="POST">
      <input type="text" class="searchTerm" placeholder="Search for a movie" name="search_param">
      <input type="submit">
      </form>
  </div>

  </body>
</html>
